<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{hero.name}}">
  <ion-content class="padding">
   
    <img ng-src="./img/Hero/{{hero.shortname}}.png" style="width: 64px; height: 64px" />
    <p>
     {{hero.bio}}
    </p>
  </ion-content>
</ion-view>
