/* Empty. Add your own CSS if you like */

.button.active, .button.activated {
    border-color:transparent;
    background-color: #e5e5e5; 
}

.button-bar {
   display: inherit;
   text-align: center;
}

.button-bar > .button {
   display: inline-block;
   margin-bottom:3px;
   width:13.3%;
   padding: 0px;
   
}
.button-bar > .button:first-child {
	border-radius: 0px 0px 0px 0px;
}

.button-bar > .button:last-child {
	border-radius: 0px 0px 0px 0px;
}
.button {
	   /* min-width: 80px;*/
	   min-width: 10px;
	   min-height:30px;
	   line-height:30px;
	   font-size:14px;
	   padding:0px;
	}